main {
    margin: 0 10% 10% 10%;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    text-align: justify;
}

main>h1 {
    font-size: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.slogan {
    font-size: 1.2rem;
    padding: 0;
    margin: 0 10px;
}

main>p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.content {
    line-height: 22px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.front-message {
    margin-left: 100px;
}

form {
    margin: 0px 75px 0px 100px;
}

.info-box {
    background-color: smokewhite;
    width: 70%;
    height: 27px;
    margin: 0 0 20px;
    padding: 0 25px;
    border-radius: 5px;
}

.message-box {
    background-color: smokewhite;
    width: 70%;
    margin: 0 0 25px;
    padding: 10px 25px 150px 25px;
    border-radius: 5px;
}

.sendmail-box {
    background-color: smokewhite;
    color: #4535aa;
    border-color: #4535aa;
    margin-right: 64%;
    height: 38px;
    padding: 0 14px;
    border-radius: 5px;
    font-size: 110%;
}

.sendmail-box:hover {
    background-color: #4535aa;
    ;
    color: #ffffff;
    cursor: pointer;
}
.social-icon>a{
    font-size: 17px;
}
.social-icon>a:hover{
    text-decoration: underline;
    color: blue;
}
