#search-bar {
    margin-left: 50%;
    margin-right: -10%;
    position: relative;
}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 25%);
    background: #c2c2c2fc;
    height: 10px;
    border-radius: 50px;
    padding-bottom: 20px;
}

.searchBox:hover>.searchInput {
    width: 150px;
    padding: 10px;

}

.searchBox:hover>.searchButton {
    background: rgb(255, 255, 255);
}

.searchButton {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 0;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

.loginButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-right: 5%;
    margin-top: -2px;
}

.loginButton:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.loginButton:active {
    position: relative;
    top: 1px;
}


h2 {
    float: left;
    margin-top: 56px;
    font-weight: bold;
    font-size: 40px;
}

main>img {
    float: left;
    margin-left: 10%;
    margin-top: 20px;
}

#content-body {
    clear: both;
}

.data-structure {
    text-align: justify;
    margin-left: 15%;
    margin-right: 10%;
    line-height: 30px;
    font-size: 20px;
}

.content-space {
    margin: 100px;
}

.lower-content {
    margin: 20px;
}

u {
    color: blue;
    font-size: 22px;
}

#top-program {
    margin-top: 50px;
    font-size: 18px;
}

#top-program>a {
    margin-top: 50px;
    margin-left: 60px;
    padding: 10;
    color: blue;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-left: 020px;
}

#top-program>a:hover {
    text-decoration: underline;
}

details {
    width: 55%;
    margin: 0 10%;
    background: #d4ebf3;
    margin-bottom: .5rem;
    box-shadow: 0 .2rem 1rem -.5rem rgba(0, 0, 0, .4);
    border-radius: 5px;
    overflow: hidden1.5;
}

summary {

    border-radius: 5px;
    color: white;
    letter-spacing: 1.5px;
    font-size: 20px;
    
    padding: 1rem;
    display: block;

    background: #417587;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}
details[open]>summary:before {
    animation: sweep .5s ease-in-out;
    transform: rotate(90deg);
}



details summary::-webkit-details-marker {
    
    display: none;
}

details>ul {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 50px;
   
}

a {
    color: black;
    text-decoration: none;
}

li {
    padding-left: 7%;
}

li:hover {
    background-color: rgb(131, 129, 129);
    width: 93%;
    border-radius: 5px;
    transition: .25s ease-in-out;
}



.back-top {
    clear: both;
    box-shadow: inset 0px -4px 11px 4px #4888a3;
    background: linear-gradient(to bottom, #417587 5%, #44778a 100%);
    background-color: #417587;
    border-radius: 14px;
    border: 1px solid #0c5785;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 21px;
    font-weight: bold;
    padding: 11px 21px;
    text-decoration: none;
    text-shadow: -1px 3px 0px #57585c;
    margin: 30px 0;
}

.back-top:hover {
    background: linear-gradient(to bottom, #44778a 5%, #417587 100%);
    background-color: #44778a;
}

.back-top:active {
    position: relative;
    top: 1px;
}